:root {
  --black: #3e3e3e;
  --green: #1ab098;
  --red: #ff5c53;
  --yellow: #fee141;
  --gray: #ced3d4;
}

body {
  font-family: sans-serif;
}

.wrapper {
  padding: 30px 30px 40px 30px;
  width: 400px;
  background-color: var(--black);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 3rem);
  border-radius: 30px;
}

.wrapper :nth-child(1) {
  grid-column-end: span 3;
}

.wrapper :nth-child(15) {
  grid-column-end: span 2;
}

.wrapper .calResult {
  padding: 5px;
  background-color: var(--green);
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  font-size: 2.5rem;
  text-align: right;
  vertical-align: middle;
  border-radius: 10px;
}

button {
  font-size: 1.5rem;
  border: 1px solid var(--black);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.cancelBtn {
  background-color: var(--red);
}

.operatorBtn {
  background-color: var(--yellow);
  font-size: 2.5rem;
}

.multipleBtn {
  padding: 10px;
}

.numBtn,
.equalBtn {
  background-color: var(--gray);
}
