* {
  box-sizing: border-box;
}

h2 {
  font-weignt: bold;
  font-family: sans-serif;
  text-align: center;
  color: midnightblue;
  border-color: grey;
  border: 5px solid gray;
  border-radius: 50%;
  padding: 30px;
}

.toDoForm {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

input,
textarea {
  width: 100%;
  border: none;
  border-radius: 20px;
  outline: none;
  background: #ecf0f1;
  padding: 10px;
  opacity: 0.8;
  margin-bottom: 10px;
}

.addBtn {
  margin: 10px;
  height: 32px;
  padding: 5px;
  border-radius: 50%;
  background-color: blanchedalmond;
  color: grey;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10;
  width: auto;
}

ul li {
  border: 1px solid grey;
  background: lightpink;
  padding: 4px;
  margin: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
}

ul li span {
  margin-left: 5px;
}

ul li:hover {
  background: #ddd;
}

button {
  border: none;
  background-color: white;
  color: #2f3640;
  font-weight: 500;
  border-radius: 50%;
  margin: 0;
  width: 22px;
  height: 22px;
  opacity: 0.6;
  padding: 0px;
  font-size: 17px;
  cursor: pointer;
}
